{% extends 'base.html' %}

{% block header %}
<h1 class="text-center">{% block title %}Dashboard{% endblock %}</h1>
<!-- Switch Toggle -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    var switchStatus = false;
    $("#togBtn").on('change', function() {
        if ($(this).is(':checked')) {
            switchStatus = $(this).is(':checked');
            alert(switchStatus); // To verify
        } else {
            switchStatus = $(this).is(':checked');
            alert(switchStatus); // To verify
        }
    });

</script>
{% endblock %}

{% block content %}
<!-- Rounded switch -->
<div class="text-center">
    <label class="switch" id="togBtn">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
            <h2 class="text-center">Live Video Streaming</h2>
            <div class="text-center">
                <img class="img-fluid invert-img" src="{{ url_for('video.video_feed') }}">
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Actions</h2>



{% endblock %}
