<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, intial-scale = 1">
    <!-- Bootstrap | CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.google.com/specimen/Sacramento?preview.text=Medicare&preview.text_type=custom">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <!--    The navigation bar-->
    <div class="container-fluid sticky-top" style="background-color:#BDBFC2">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#" style="color: black">ECRF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="dashboard.html" style="color: black">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html" style="color: black">Profile</a></li>
                </ul>
                <input class="btn btn-success" type="button" id="logout" value="Logout" name="logout" onclick="logout()">
            </div>
        </nav>
    </div>
    <br>
</body>

</html>
